@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #051923;
    font-family: Montserrat, sans-serif;
}

.navigation {
    background-color: #051923;
    color: #FFFBFF;
    height: 56px;
}

.navigation ul{
    list-style: none;
    margin-top: 0;
    padding: 0;
    height: 56px;
    text-align: right;

}

.navigation li {
    display: inline-block;
    line-height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;

}

.navigation a {
    text-decoration: none;
    color: #FFFBFF;

}

.navigation li:hover {
    background-color: #C23350;
    opacity: 0.5;
}

.capa {
    color: #FFFBFF;
}

.capa span {
    color: #C23350;
    display: block;
}

.capa div{
    display: inline-block;
    height: 650px;
}

.profile-img {
    width: 39%;
    text-align: center;

    animation-name: profile-img;
    animation-duration: 5s;
}

.profile-img img{
    border-radius: 152px;
    width: 320px;
    margin-top: 100px;
}

.profile-title {
    vertical-align: top;
    width: 60%;
}

.profile-title h1{
    margin-top: 200px;
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 54px;
}

.profile-title h2{
    color: #70A288;
    margin-top: -26px;
    font-weight: 100;
    font-family: 'Fira Code', monospace;
}

@keyframes profile-img {
    0% {opacity: 0;}
    100% {opacity: 1;}
}