@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #051923;
    font-family: Montserrat, sans-serif;
}

body h1{
    font-size: 32px;
    color: #C23350;
    font-family: 'Montserrat', sans-serif;
}

body h2 {
   font-size: 18px;
    color: #70A288;
    font-family: 'Montserrat', sans-serif;
}

body p {
    font-size: 16px;
    color: #FFFBFF;
    font-family: 'Fira code', monospace;

 }

.navigation {
    background-color: #051923;
    color: #FFFBFF;
    height: 56px;
}

.navigation ul{
    list-style: none;
    margin-top: 0;
    padding: 0;
    height: 56px;
    text-align: right;

}

.navigation li {
    display: inline-block;
    line-height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;

}

.navigation a {
    text-decoration: none;
    color: #FFFBFF;

}

.navigation li:hover {
    background-color: #C23350;
    opacity: 0.5;
}

.caminho {
    list-style: none;
    color: gray;
    padding-left: 0;
}

.caminho li{
    display: inline-block;
}

.caminho a {
    color: gray;
}


.portifolio__informacoes{
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img__portifolio__aqua {
    margin-left: 3%;
}

.img__portifolio__babas {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rodape {
    padding: 18px;
    background-color: #70A288;
    text-align: center;
    font-size: 18px;
}
